<!DOCTYPE html>
<html>
<head>
    <title>
        Welcome to comment section
    </title>
</head>
<body style="background: yellow">
<div style='margin: 25% 25% 25% 25%'>
    <form action="/creatingCommentList" method="POST">
        <input type="text" placeholder="Name for comment list" name="newCommentList"required autofocus>
        <!--Collection name to be created, it can be replace by question title for code park-->
        <input type="submit" value="Create Now">
    </form>
</div>
</body>
</html>